appdirs==1.4.3
beautifulsoup4==4.8.2
CacheControl==0.12.6
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
cssselect==1.1.0
idna==2.8
keyring==21.0.0
lxml==4.4.2
minidb==2.0.2
msgpack==0.6.2
pycodestyle==2.5.0
pyTelegramBotAPI==3.6.6
pytz==2019.3
pywin32-ctypes==0.2.0
PyYAML==5.2
requests==2.22.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
urllib3==1.25.8
urlwatch==2.17
